
/* Your CSS Code here. */
.holder{
	background-color:lightblue;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content :space-between;
}
.item{
	margin:1px;
	border:2px solid black;
	width:100px;
	height:100px;
}